* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

body {
  /* navbar */
  .navbar {
    height: 88px;
    width: 100%;
    padding: 16px 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 56px;
      width: 56px;
    }

    .content {
      display: flex;
      align-items: center;
    }

    ul {
      display: flex;
      gap: 48px;
    }

    button {
      height: 40px;
      width: 119px;
      border: solid 2px #231f20;
      background-color: white;
      border-radius: 8px;
      margin-left: 48px;
    }
  }

  /* hero section */
  #hero_section {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    h1 {
      font-size: 72px;
      line-height: 80px;
      width: 765px;
      text-align: center;
      letter-spacing: -3px;
    }

    button {
      height: 56px;
      width: 203px;
      border: none;
      background-color: #db8005;
      border-radius: 8px;
      font-size: 24px;
      color: white;
    }
  }
}
